<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a as in alpha</title>
</head>
<body>

<form action="/" method="POST">
    <input name="input" type=text>
    <button type="submit">submit</button>
</form>

<ul>
{{range.}}
    <li>{{.}}</li>
{{end}}
</ul>
</body>
