<!doctype html>
<title>phonetic alphabet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/intercooler-1.0.2.min.js') }}"></script>
<div class="container">
    <div class="columns">
        <div class="column col-8">
            <form ic-replace-target="false" ic-target="#target" ic-post-to="/translate">
              <input type="text" name="abc" placeholder="jones" value="">
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="target"></div>
</div>
