<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a as in alpha</title>
</head>
<body>

<input bar here somewhere>

<ul>
{{range.}}
    <li>{{.}}</li>
{{end}}
</ul>
</body>
